
*{
    margin: 0;
    padding: 0;
}

body{
    
    height: 100vh;

}

.man{
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

p{
    
    color: white;
    font-size: 10px;
    line-height: 10px;
    background-image: url(../img/meme\ \(1\).webp);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}